
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
body,html{font-size:14px;font-family:"微软雅黑",Helvetica,Tahoma,Arial,sans-serif;color:#000;height:100%;background-position:center;background-attachment:fixed;background-size:cover}
img{border:0}
body{
  margin:0px;
  padding:0px;
}
#app{
  height:100%;
}
.vl-notify-mask{
  z-index:1004 !important;
}
.vl-notify{
  z-index:1005 !important;
}
.layout{
  background: #ffffff !important;
}
.ivu-layout{
  background: #ffffff !important;
}
.content-block{
  //margin-bottom:10px;
}
.operate{
  margin-bottom:15px;
  display: flex;
}
.iframe-block{
  padding:20px 40px;
  width:100%;
}